.about-us {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between;
}

.text-section {
    flex-basis: 60%;
}

.image-section {
    flex-basis: 40%;
}

.image-section img {

    width: 100%;
    height: auto;
}